.App {
  text-align: center;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text{
  color:black;
  text-align:center;
   margin-top: 80px;
   line-height: normal;
   font-size: 3.9ch
}

.container{
  padding-Top: 50px;
  
}
.category{
  padding-Top: 30px;
}

.slider{
  text-align: center;
  padding-top: 10px;
}

.cat2{
  width: 100%;
  height: fit-content;
}


/* from here its media queries for different screens */
@media only screen and (max-width: 990px) {
  .text { margin-top: 30px;}
}
@media only screen and (max-width: 769px) {
  /* desktop: */
  .text { margin-top: 30px; font-size: 2.1ch}
}

@media only screen and (max-width: 576) {
  /* tablets: */
  .text { margin-top: 0px; font-size: 1ch}
}
@media only screen and (max-width: 552px) {
 .slider{align-content: stretch}
 .cat2{align-content: stretch;}
}
